Source: aurex-virt-tools
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: aurex-virt-tools
Architecture: all
Depends: ${misc:Depends}, virt-upstart-manager
Description: Collection of utilities to manage Virtual Machines
 Metapackage to install all the aurex-virt-tools utilities

Package: virt-upstart-manager
Architecture: all
Depends: ${misc:Depends}, upstart, libvirt-bin
Description: generate upstart jobs to start/stop virtual machines
 The package installs a scruipt and templates to generate upstart
 jobs to automatically start and stop Virtual Machines
